#content {
    margin: 5px;
}

#second-nav {
    margin-bottom: 10px;
}

#create-form {
    margin: 0 auto;
    width: 600px;
}

.right {
    float: right;
}
.right-nav-text { float:right; padding: 10px; color: #242427;}
.right-nav-text:hover { text-decoration: none; }


.center-bold {
    text-align: center;
    font-weight: bold;
}
.order-table {
    width: 700px;
    margin: 0 auto;
}

#news-table td {
    padding-left: 20px;
}

.coins-block {
    width: 700px;
    margin: 0 auto;
}
.coins-block input[type="text"]  { width: 400px; margin:7px;}
.coins-block label { width: 80px; }